* {
    margin: 0;
    padding: 0;
    color: inherit;
}

.nav {
    background-color: red;
    width: 100%;
    height: 70px;
}

.root {
    background-color: darkslategray;
    height: 100%;
}

.slider {
    display: block;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 370px;
    overflow-y: hidden;
}

.item {
    color: grey;
    margin-bottom: 10px;
}

.item__header {
    width: 100%;
    border-bottom: 1px solid currentColor;
}

.item__text {
    margin-top: 5px;
}

.item__bottom {
    margin-top: 10px;
    font-weight: 600;
}

.slider--top {
    animation: enter 1s linear;
}

.slider--move > *:not(:first-child) {
    animation: slide 0.5s linear;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    50% {
        opacity: 0;
        transform: scaleY(1);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}